.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  margin: 2rem 0;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.bookmarkForm {
  background-color: var(--dark-blue);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 35px;
}

::placeholder {
  color: #fff;
  opacity: 0.6;
}

input[type="text"],
input[type="url"] {
  width: 20rem;
  height: 45px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: 0 1rem;
  background-color: var(--light-blue);
  color: #fff !important;
}

input[type="submit"] {
  background-color: lightgreen;
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 700;
  color: #333;
}

.bookmarkList {
  background-color: var(--dark-blue);
  border-radius: 35px;
  padding: 0 2rem;
  list-style: none;
  margin-top: 2rem;
  width: 40rem;
}

.bookmark {
  margin: 1.5rem 0;
  background-color: var(--light-blue);
  padding: 1rem;
  border-radius: 25px;
}

.bookmarkName {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.bookmarkLink {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.bookmark button {
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: coral;
}

@media (max-width: 600px) {
  .App {
    padding: 0 0.5rem;
  }
  .App h1 {
    font-size: 2rem;
  }
  .bookmarkForm {
    width: 100%;
    padding: 2rem 0.5rem;
  }
  input[type="text"],
  input[type="url"] {
    width: 100%;
  }
  .bookmarkList {
    width: 100%;
    padding: 0 0.5rem;
  }
  .bookmark button {
    display: block;
    margin: 0 auto;
  }
}
