@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --dark-blue: #3f9cc0;
  --light-blue: #66b0cc;
  --complement: #c0633f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

button,
input {
  font-family: var(--font);
  font-size: 1rem;
}
